
/* 
PorfileUser */
.profile-user{ 
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    gap: 20px;
}

.image-profile-user{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.name-profile-user{ 
    font-weight: 600;
    cursor: pointer;
}